        /* Estilo personalizado */
        body {
          font-family: 'Poppins', sans-serif;
          background: #f1efed;
          /* Cor de fundo do corpo */
          color: #dc1d30;
          ;
          /* Cor do texto */
        }


        .navbar-brand img {
          max-width: 30px;
          vertical-align: middle;
        }

        /* NAVBAR */

        /* Estilos da barra de navegação */
        .navbar {
          background: #D2DBE0;
          padding: 10px;
        }

        /* Estilos do campo de pesquisa */
        .search-container {
          float: right;
        }

        /* Estilos do campo de texto */
        .search-input {
          padding: 8px;
          margin-top: 8px;
          border: none;
          border-radius: 5px;
        }

        /* Estilos do ícone de pesquisa */
        .search-icon {

          margin: 20px 16px;
          cursor: pointer;
          color: rgb(190, 31, 31);
        }

        /* Estilo do ícone de pesquisa quando hover */
        .search-icon:hover {
          color: #ffc107;
          /* Altere a cor conforme necessário */
          cursor: pointer;
        }

        .list-group {
          background: #9e8e90;
          /* Altera a cor do navbar */
          padding-left: 10px;
        }



        @font-face {
          font-family: 'Beasley';
          src: url('/fonts/beasley.ttf') format('truetype');
        }

        .navbar-brand {
          font-family: 'Beasley', sans-serif;
          font-size: 2rem;
          color: #dc1d30;
          /* Cor do texto */
        }

        .footer {
          position: fixed;
          bottom: 0;
          width: 100%;
          background: #D2DBE0;
          color: #dc1d30;
          text-align: center;
          padding: 10px 0;
        }

        .full-height {
          height: 100vh;
        }

        .submenu {
          display: none;
          /* Inicialmente oculta o submenu */
          transition: all 0.3s ease;
        }

        .list-group-item:hover+.submenu,
        .submenu:hover {
          display: block;
          /* Mostra o submenu quando o item principal for hover ou quando o submenu for hover */
        }

        /* Transição suave para o submenu */
        .submenu {
          transition: all 0.3s ease;
        }

        /* criar o brilho ao passar o mouse */
        .list-group-item:hover {
          background-color: #9a80f9;
          /* Altere a cor conforme necessário */
          transition: background-color 0.3s ease;
        }

        /* criar efeito de tremor ao ser selecionado */
        .list-group-item:active {
          animation: shake 0.5s;
          /* Utiliza a animação "shake" */
        }

        /* --- Criar o tremor --- */
        @keyframes shake {
          0% {
            transform: translateX(0);
          }

          25% {
            transform: translateX(-5px);
          }

          50% {
            transform: translateX(5px);
          }

          75% {
            transform: translateX(-5px);
          }

          100% {
            transform: translateX(0);
          }
        }

        /* set geral para os cards */
        .card {
          margin-bottom: 20px;
          height: 100px;
          position: relative;
          border-radius: 10px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          transition: box-shadow 0.3s ease;

        }

        .card-body {
          background: #f3e4fc;
          border-radius: 10px;
          padding: 10px;
          /* Add padding to card content */
          text-align: center;
          padding: 10px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          color: #cb87f4;
          gap: 15px;

        }

        .card:hover {
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          transition: box-shadow 0.3s ease-in-out;

        }

        .card-img-top {
          width: 30px;
          /* Definindo a largura da imagem como 100% do container pai (o card) */
          height: 30px;
          /* Mantém a proporção da imagem */
        }

        .card-title {
          margin-bottom: 10px;
          /* Space between title and text */
        }

        .card-text,
        h5 {
          font-size: 14px;
          /* Adjust text size as needed */
          text-align: center;
        }

        /* Material Design Colors for Cards */
        .card-body--blue {
          background-color: #e0f2f1;
          /* Light blue */
        }

        .card-body--lavender {
          background-color: #fce4ec;
          /* Light lavender */
        }

        .card-body--light-blue {
          background-color: #def3f8;
          /* Another light blue */
        }

        /* Estilo da linha vermelha na lateral esquerda do menu quando o mouse estiver sobre um item do submenu */
        .list-group-item.submenu-hover::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 15px;
          /* Largura da linha */
          background-color: #95ff00;
          /* Cor da linha vermelha */
        }

        .crudview {
          height: 700px;
          background: linear-gradient(90deg, rgba(131, 58, 180, 0.5) 0%, rgba(253, 29, 29, 0.2) 50%, rgba(252, 176, 69, 1) 100%);
          padding: 10px;
        }

        /* TABELA */
        /* tabela */
        /* Estilo para a tabela de livros */

        .container {
          margin-top: 20px;
        }

        .table {
          width: 100%;
          border-collapse: collapse;
          border-radius: 8px;
          overflow: hidden;
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
        }

        .table th,
        .table td {
          padding: 6px 30px;
          text-align: left;
        }

        .table th {
          background-color: #ece5f2;
          /* background-color: #f5f5f5; */
          color: #8d8d8d;
          font-weight: bold;
          border-bottom: 2px solid #ddd;
        }

        .table tbody tr:nth-child(even) {
          background-color: #fff;
        }

        .table tbody tr:hover {
          background-color: rgba(0, 0, 0, 0.05);
          transition: background-color 0.3s ease;
        }

        .actions a {
          margin-right: 5px;
          text-decoration: none;
        }

        .actions a.btn {
          padding: 8px 16px;
          border-radius: 8px;
          transition: background-color 0.3s ease, box-shadow 0.3s ease;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .actions a.btn-primary {
          background-color: #4caf50;
          /* Nova cor primária */
          color: #fff;
          border: none;
        }

        .actions a.btn-danger {
          background-color: #f44336;
          color: #fff;
        }

        .actions a.btn:hover {
          background-color: #3e8e41;
          /* Escurecimento da cor primária no hover */
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
          /* Elevação no hover */
        }